.login-container {
  height: 100%;
  background-color: hsl(0, 0%, 90%);
}
.login-component-container {
  background-color: hsl(0, 0%, 96%);
  border: 1px solid hsl(0, 8%, 52%);
  border-radius: 5px;
  height: fit-content;
  width: 535px;
}
.login-form-row {
  margin: 4px 0 12px 0;
  position: relative;
}

.login-pw-toggle {
  padding: 0;
  position: absolute;
  right: 3px;
  bottom: 9px;
  font-size: 26px;
  background-color: transparent;
  color: hsl(210, 8%, 58%);
  font-weight: 600;
}

@media (max-width: 750px) {
  .login-component-container {
    width: 100%;
    max-width: 355px;
    height: 415px;
  }
}
